<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
    <link th:replace="/partials :: bootstrap">
</head>
<body>
<nav th:replace="/partials :: navbar"></nav>
<h1>Edit post</h1>
<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
    Title
    <br>
    <input th:field="*{title}">
    <br>
    Body
    <br>
    <input th:field="*{body}">
    <br>
    <input type="submit">
</form>
<nav th:replace="/partials :: footer"></nav>
</body>
</html>