<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--Header-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Partials</title>
    <!--Styling-->
    <link th:fragment="bootstrap" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<!--Navbar-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SpringBlog</a>
</nav>
<!--Footer-->
<nav th:fragment="footer" class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Footer</a>
</nav>
</body>
</html>